<div class="row">
	<div class="col-md-6">
		<label>Name:</label>
		<input type="text" ng-model="name" required/>
	</div>
	<div class="col-md-6">
		<label>Email:</label>
		<input type="email" ng-model="email" required/>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<label>Company:</label>
		<input type="text" ng-model="company" />
	</div>
	<div class="col-md-6">
		<label>Work Phone:</label>
		<input type="text" ng-model="work_phone" />
	</div>
</div>
<div class="row">
	<div class="col-md-6"></label>
		<label>Mobile Phone:
		<input type="text" ng-model="mobile_phone" />
	</div>
	<div class="col-md-6">
		<label>Home Phone:</label>
		<input type="text" ng-model="home_phone" />
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<label>Street Address:</label>
		<input type="text" ng-model="street_address" />
	</div>
	<div class="col-md-6">
		<label>City:</label>
		<input type="text" ng-model="city" />
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<label>State:</label>
		<input type="text" ng-model="state" />
	</div>
	<div class="col-md-6">
		<label>Zip Code:</label>
		<input type="text" ng-model="zipcode" />
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<input type="submit" class="button" />
	</div>
</div>
